    <head>
      <style>
        img {
          border-radius: 50%;
          height: 60%;
          width: 40%;
          overflow: hidden;
          display: block;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          padding: 0.5rem;
        }
      </style>
    </head>
     <img src="./assets/my_assets/joey_headshot_mila.jpg" alt="" class="rounded" >
<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
