<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="research" name="filter" checked />
  <label class="filter-button neumorphism-button" for="research">Research Interests</label>
  <input type="radio" id="students" name="filter" />
  <label class="filter-button neumorphism-button" for="students">Students</label>
  <input type="radio" id="teaching" name="filter" />
  <label class="filter-button neumorphism-button" for="teaching">Teaching</label>
  <input type="radio" id="prospective" name="filter" />
  <label class="filter-button neumorphism-button" for="prospective">{{ site.prospective_students_title }}</label>

  {% for language in site.data.skills-languages %}
    <div skill-type="research" skill-weight="{{language.weight}}" data-aos="zoom-in">
      {{language.name}}
    </div>
  {% endfor %}
  {% for student in site.data.skills-students %}
    <div skill-type="students" skill-weight="{{student.weight}}" data-aos="zoom-in">
      {{student.name}}
    </div>
  {% endfor %}
  {% for teaching in site.data.skills-teaching %}
    <div skill-type="teaching" skill-weight="{{teaching.weight}}" data-aos="zoom-in">
      <a class="highlight-link" href="{{teaching.blog}}" target="_blank" rel="noreferrer">
        {{teaching.name}}
      </a>
    </div>
  {% endfor %}
  <div skill-type="prospective" data-aos="zoom-in">
    <a class="highlight-link" href="{{ '/phd-positions/' | prepend: site.baseurl }}">Prospective Phd Students</a>
  </div>
</div>
